body {
    font-family: Arial, sans-serif;
    background-color: #fcf8f8;
  }
  
  .contenedor {
    max-width: 500px;
    margin-top: -10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #203596;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2a742d;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .clima {
    margin-top: 20px;
    font-size: 18px;
  }

  .mapa {
    height: 500px;
  }

  .hora {
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 18px;
    border: 2px solid #333;
    width: 300px;
    margin: 50px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hora:hover {
    background-color: #f0f0f0;
}